{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/registration.css" />
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>

    <title>Registration page</title>
  </head>
    <body style="background: url('{% static 'users/login4.png' %}');">

    <!-- main banner -->
    <section class="bgimage" id="home">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-------->
            <!---Form Section-->
            <div
              class="container pt-3"
              style="
                /* background-color: #f0f0f0; */
                border-radius: 20px;
                width: 100%;
                height: 650px;
                margin-top: 20px;
              "
            >
              <div
                class="offset-md-2 offset-lg-2 col-lg-8 col-md-8 col-sm-12 col-xs-12"
              >
                <form
                  class="needs-validation"
                  novalidate
                  oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")'
                >
                  <div class="row type_margin" style="margin-top: 50px">
                    <div
                      class="offset-md-3 offset-md-3 col-lg-7 col-md-7 col-sm-12 col-xs-12"
                    >
                      <div class="container-sm form-group">
                        <h1
                          style="
                            text-align: center;
                            font-family: 'Schoolbell', cursive;
                          "
                        >
                          <u> CREATE ACCOUNT</u>
                        </h1>
                        <br />
                        <label
                          for="exampleInputname1"
                          style="
                            font-weight: bold;
                            font-family: 'Schoolbell', cursive;
                          "
                          >Nickname</label
                        ><br />
                        <input
                          type="text"
                          style="
                            background-color: #feb1b7;
                            width: 100%;
                            padding: 12px 20px;
                            margin: 8px 0;
                            box-sizing: border-box;
                            border: none;
                            border-bottom: 2px solid #6f1818;
                          "
                          class="form-control form-control-lg"
                          id="exampleInputname1"
                          required
                        />
                        <div class="invalid-feedback">
                          Please provide your nickname
                        </div>
                      </div>
                      <div class="container-sm form-group">
                        <br />
                        <label
                          for="exampleInputEmail1"
                          style="
                            font-weight: bold;
                            font-family: 'Schoolbell', cursive;
                          "
                          >Email</label
                        ><br />
                        <input
                          type="email"
                          style="
                            background-color: #feb1b7;
                            width: 100%;
                            padding: 12px 20px;
                            margin: 8px 0;
                            box-sizing: border-box;
                            border: none;
                            border-bottom: 2px solid #6f1818;
                          "
                          class="form-control form-control-lg"
                          id="exampleInputEmail1"
                          aria-describedby="emailHelp"
                          required
                        />
                        <div class="invalid-feedback">
                          Please provide an email address
                        </div>
                      </div>
                      <br />
                      <div class="container-sm form-group">
                        <label
                          for="exampleInputPassword1"
                          style="
                            font-weight: bold;
                            font-family: 'Schoolbell', cursive;
                          "
                          >Password</label
                        >
                        <input
                          type="password"
                          style="
                            background-color: #feb1b7;
                            width: 100%;
                            padding: 12px 20px;
                            margin: 8px 0;
                            box-sizing: border-box;
                            border: none;
                            border-bottom: 2px solid #6f1818;
                          "
                          class="form-control form-control-lg"
                          id="exampleInputPassword1"
                          name="up"
                          minlength="8"
                          required
                        />
                        <div class="invalid-feedback">
                          Please provide password of characters 8
                        </div>
                      </div>
                      <br />
                      <div class="container-sm form-group">
                        <label
                          for="exampleInputPassword2"
                          style="
                            font-weight: bold;
                            font-family: 'Schoolbell', cursive;
                          "
                          >Confirm Password</label
                        >
                        <input
                          type="password"
                          class="form-control form-control-lg"
                          style="
                            background-color: #feb1b7;
                            width: 100%;
                            padding: 12px 20px;
                            margin: 8px 0;
                            box-sizing: border-box;
                            border: none;
                            border-bottom: 2px solid #6f1818;
                          "
                          id="exampleInputPassword2"
                          name="up2"
                          minlength="8"
                          required
                        />
                        <div class="invalid-feedback">Passwords mismatch</div>
                      </div>

                      <br />
                      <div
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div_spacing"
                      >
                        <input
                          type="submit"
                          id="edit-submit"
                          name="op"
                          value="I'm Ready! "
                          style="
                            background-color: #6f1818;
                            color: white;
                            width: 200px;
                            margin-left: 140px;
                            font-size: 30px;
                            font-family: 'Schoolbell', cursive;
                          "
                          class="form-control-login btn btn-lg"
                        />
                      </div>
                      <br />
                      <a
                        href="#"
                        style="
                          padding-left: 205px;
                          text-decoration: none;
                          color: #6f1818;
                          font-family: 'Schoolbell', cursive;
                          font-weight: bold;
                        "
                        >Or</a
                      ><br />
                      <br />
                      <a
                        href="#"
                        style="
                          padding-left: 80px;
                          text-decoration: none;
                          color: #6f1818;
                          font-family: 'Schoolbell', cursive;
                          font-size: 20px;
                        "
                        >Sign in with
                        <span
                          class="iconify"
                          data-icon="flat-color-icons:google"
                        ></span>
                        or Sign in with
                        <span
                          class="iconify"
                          data-icon="bi:facebook"
                        ></span> </a
                      ><br /><br />
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-------->
          </div>
        </div>
      </div>
    </section>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
          "use strict";
          window.addEventListener(
            "load",
            function () {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName("needs-validation");
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(
                forms,
                function (form) {
                  form.addEventListener(
                    "submit",
                    function (event) {
                      if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                      }
                      form.classList.add("was-validated");
                    },
                    false
                  );
                }
              );
            },
            false
          );
        })();
      </script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
